@using RazorMvcDll.Models;
@using System.Collections.Generic
@model IEnumerable<AlumnoLocal>
@{
    ViewBag.Title = "Index";
}
<h2>Lista Alumnos</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-4">
        @Html.ActionLink("Agregar", "Create", "AlumnosC", null, htmlAttributes: new { @class = "btn btn-success" })
    </div>
</div>
<div class="form-horizontal">
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.primerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.segundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.correo)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.estado)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.estatus)
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.id)
                </td>
                <td>
                    @Html.DisplayFor(m => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(m => item.primerApellido)
                </td>
                <td>
                    @Html.DisplayFor(m => item.segundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(m => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(m => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(m => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(m => item.estatus)
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            @Html.ActionLink("Detalles", "Details", "AlumnosC", new { @id = item.id }, htmlAttributes: new { @class = "btn btn-warning" })
                        
                            @Html.ActionLink("Editar", "Edit", "AlumnosC", new { @id = item.id }, htmlAttributes: new { @class = "btn btn-primary" })
                    
                        
                            @Html.ActionLink("Eliminar", "Delete", "AlumnosC", new { @id = item.id }, htmlAttributes: new { @class = "btn btn-danger" })
                        </div>
                    </div>

                </td>
            </tr>
        }
</div>