@model CapaNegocio.ServiceReferenceWsfAlumnos.AportacionesImss

<div>
    <h4>AportacionesImss</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cesantía)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cesantía)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enfermedadMaternidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enfermedadMaternidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.infonavit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.infonavit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.invalidezVida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invalidezVida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.retiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.retiro)
        </dd>

    </dl>
</div>
