@model CapaNegocio.ServiceReferenceWsfAlumnos.ItemTablaIsr

<div>
    <h4>ItemTablaIsr</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cuotaFija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuotaFija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.excedente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.excedente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limiteInferior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limiteInferior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limiteSuperior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limiteSuperior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subsidio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subsidio)
        </dd>

    </dl>
</div>
